# --- 系统与编辑器 ---
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/

# --- 压缩与日志 ---
*.log
*.zip
*.tar.gz

# --- 临时文件夹 ---
# Git 默认不追踪空文件夹。若需追踪，请在文件夹内创建 .gitkeep 文件
temp/
bin/
obj/

# --- 脚本处理 ---
# 忽略所有 .sh 脚本 (去掉了错误的反斜杠)
*.sh
